/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
h1{
  text-align: center;
  padding: .3em;
  color: rgb(248, 242, 242);
}